.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  /* fichier styles.css ou styles.scss */
.mat-subheader {
  font-size: 16px; /* Ajustez la taille selon vos besoins */
  font-weight: 500; /* Épaisseur du texte */
  color: rgba(0, 0, 0, 0.54); /* Couleur du texte */
}
.ajoutBtn{
  align-self: flex-end;
}
#button{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.navigation-item:hover{
  box-shadow: darkblue 1px 1px 1px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
}

.pagination-info {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}
table {
  width: 100%;
  margin-top: 20px;
}

th.mat-header-cell {
  background-color: #f0f0f0;
  font-weight: bold;
}
::ng-deep .mat-tooltip {
  font-size: 14px;
  color: white;
  background-color: black;
  border-radius: 4px;
}

