<main *ngIf="!formVisible">
  <!-- Champ de recherche -->
  <mat-form-field appearance="fill">
    <mat-label>Rechercher un devoir</mat-label>
    <input matInput [(ngModel)]="searchText" (input)="applySearchFilter()" placeholder="Recherche..."> 
  </mat-form-field>
  <!-- Bouton pour peupler la base de données -->  
  <button mat-flat-button id="button" color="accent" (click)="peuplerBd()" class="ajoutBtn">Peupler Base</button>
  <!-- Pagination avec boutons Material -->
  <div class="pagination">
    <button mat-button (click)="goToFirstPage()" [disabled]="currentPage === 1">
      <mat-icon>first_page</mat-icon> Première Page
    </button>
  
    <button mat-button (click)="goToPreviousPage()" [disabled]="!hasPrevPage">
      <mat-icon>navigate_before</mat-icon> Page Précédente
    </button>
    
    <button mat-button (click)="goToNextPage()" [disabled]="!hasNextPage">
      <mat-icon>navigate_next</mat-icon> Page Suivante
    </button>
    
    <button mat-button (click)="goToLastPage()" [disabled]="currentPage === totalPages">
      <mat-icon>last_page</mat-icon> Dernière Page
    </button>

    <div class="pagination-info" >
      Page {{ currentPage }} sur {{ totalPages }} | Total Documents: {{ totalDocs }}
    </div>
  </div>

  <!-- MatPaginator Angular Material -->

  <mat-paginator [length]="totalDocs"
                 [pageSize]="pageSize"
                 [pageIndex]="currentPage - 1"
                 [pageSizeOptions]="[5, 10, 20, 50,100,200,500,totalDocs]"
                 (page)="onPageChange($event)">
  </mat-paginator>

  <!-- Liste des assignments filtrés -->
  <mat-list *ngFor="let assignment of filteredAssignments" class="navigation-item">
    <nav><a routerLink="/assignments/{{assignment.id}}">
        <h3 mat-subheader> {{assignment.dateDeRendu | date: "dd/MM/yyyy"}}</h3>
        <mat-list-item (click)="assignmentClique(assignment)">
            <p appRendu *ngIf="assignment.rendu; else nonSoumis" style="color: green;">
                Le devoir {{assignment.nom}} a été rendu. 
            </p>
        <ng-template #nonSoumis>
            <p style="color: red;">Le devoir de {{assignment.nom}} n'a pas été rendu.</p>
        </ng-template>
        <mat-divider></mat-divider>
        </mat-list-item></a>
    </nav>
  </mat-list>
</main>
